
<div class="messages-container">
    <div class="friends-list">
    </div>
    
    <div class="chat-area">
        <div class="messages-display" style="display: none;"></div>
        <div class="no-chat-selected">
            Select a friend to start chatting
        </div>
        
        <div class="message-input-area">
            <textarea class="message-input" placeholder="Type your message here..."></textarea>
            <button class="send-button">Send</button>
        </div>
    </div>
</div>



